<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.edu.vianna.trabalhodupla">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ViewAtualizarMedidas"></activity>
        <activity android:name=".ViewCadastrarMedidas" />
        <activity android:name=".ViewMedidas" />
        <activity android:name=".ViewCadastrarExercicios" />
        <activity android:name=".ViewFichaExercicios" />
        <activity android:name=".ViewVerFichas" />
        <activity android:name=".ViewCadastrarFicha" />
        <activity android:name=".ViewDadosAluno" />
        <activity android:name=".ViewAlunos" />
        <activity android:name=".ViewTodasAgendas" />
        <activity android:name=".ViewAdicionarPessoasAgenda" />
        <activity android:name=".ViewAgendarAlunos" />
        <activity android:name=".ViewExec" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>